.about{
    margin : 0 auto;
    max-width: 800px;
}

.about h2{
    text-align: center;
    border-bottom: 2px solid #d32f2f; /* 赤い線 */
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.about p{
    text-align: center;
    font-size: 16px;
}