h1, h2, h3, .section-title {
    font-family: "Noto Serif JP", "Yu Mincho", "YuMincho", serif;
    font-weight: 700; /* 太字 */
}
body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333; 
}
/*ZUN氏の配色をアクセントに使う */
a {
    color: #46644e; /* 上海アリス風のリンク色 */
}

h2 {
    border-bottom: 2px solid #5e998d; /* 上海アリス風の区切り線 */
}